
.app-wrapper{
    display : flex;
    flex-flow: row wrap;
    width: 100vw;
    height: auto;
    background: hsl(0, 0%, 100%);
    /* background-color: lightseagreen; */

}
#search-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: space-between;
    width: 100vw;
    height: 17.4vh;
    position: relative;
    /* background-color: hotpink; */
}
.show-map-btn{
    position: absolute;
    right: 9vw;
}
#CardMapWrapper{
    display: flex;
    flex-flow: row-reverse nowrap;
    height:auto;
    width: 100vw;
    /* background-color: cadetblue; */
}

.Card-s{
    width: auto;
    height: auto;
}
.Card-l{
    width: auto;
    height: auto;
    padding: 0px 4vw 0px 4vw;
    /* background-color: aqua; */
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: space-between;
}

.Maps{
    background-color: rgb(201, 201, 201);
    flex: 0.9 0 50vw;
    height: 77.5vh;
    margin-right: 4vw;
    overflow: hidden;
    position: relative;   
}
.not-connected{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
