@font-face {
	font-family: "poppinsBold";
	src: url("./fonts/poppins.bold.ttf");
	font-weight: bold;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
}
.card-container {
	position: relative;
	width: 26.5vw;
	height: 8vw;
	margin-left: 3.6vw;
	margin-right: 3.6vw;
	margin-bottom: 1.7vw;
	background: #FFFFFF;
	box-shadow: 0px 2px 12px 2px rgba(221, 221, 221, 0.938);
	display: flex;
	flex-direction: row;
	text-align: center;
}
img{
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 8.5vw;
	height: 8vw;
	-webkit-user-drag: none;
}
.inner-return-wrapper{
	position: relative;
	height: 100%;
}
.card-p {
	position: absolute;
	left: calc(8.5vw + 20px);
	font-family: "poppinsBold";
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}
